repos:
- repo: https://github.com/checkmake/checkmake.git
  rev: v0.3.0
  hooks:
    # TODO: restore after https://github.com/pre-commit/pre-commit/issues/2722
    # is fixed for real
    # - id: checkmake
    # OR Use this hook to use a pre-installed checkmark executable
  - id: checkmake-system
- repo: https://github.com/hukkin/mdformat
  rev: 1.0.0  # Use the ref you want to point at
  hooks:
  - id: mdformat
    # Optionally add plugins
    additional_dependencies:
    - mdformat-gfm>=1.0.0
    - mdformat-footnote>=0.1.2
    - mdformat-front-matters>=2.0.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0  # Use the ref you want to point at
  hooks:
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: forbid-submodules

ci:
  skip:
    - checkmake-system
